body {
    background: #94B49F;
    font-family: Arial, Helvetica, sans-serif;
    display: flex;
    flex-wrap: wrap;
}

h1 {
    color: #B85042;
    text-align: center;
    width: 100%;
    display: block;
}

a:hover {
    color: #94B49F;
    width: 100%;
    display: block;
}

a {
    text-decoration: none;
    color: #B85042;
}

p {
    color: #B85042;
}

.assign {
    background-color: #E7E8D1;
    margin: 10px;
    padding: 10px;
    border-radius: 20px;
    width: 20%;
    box-shadow: 8px 8px #B85042;
    display: block;
    text-align: center;
}

.assign img {
    width: 200px;
    padding: 10px;
    border: 2px solid #B85042;
    display: inline-block;
}

.assign p,
a {
    text-align: left;
}
