body {
    background: #B4CFB0;
    font-family: Arial, Helvetica, sans-serif;
    display: flex;
    flex-wrap: wrap;
}

h1 {
    color: white;
    text-align: center;
    width: 100%;
}

a {
    text-decoration: none;
    color: white;
}

p {
    color: white;
}

.assign {
    background-color: #94B49F;
    margin: 10px;
    padding: 10px;
    border-radius: 20px;
    width: 20%;
    box-shadow: 8px 8px white;
    display: block;
}

.assign img {
    width: 200px;
    padding: 10px;
    border: 2px solid white;
}
